@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-timing-function: ease;
}

body {
    overflow-x: hidden;
    width: 1280px;
    background-color: #F7FCFF;
   
}

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  z-index: 1;
}

header {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  font-family: "Montserrat";
}

header > #logo-header {
  width: 230px;
  margin-left: 100px;
}

.functions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
 
}

.functions > div {
  display: flex;

  justify-content: center;
  gap: 3px;
}

.functions > div > i {
  color: #1f4662;
  font-style: bold;
}

#search-field {
  width: 558px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-field > i {
  margin-left: -39px;
  
}

#search-field > input {
  
  width: 558px;
  height: 50px;
  padding-left: 18px;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #9dc3de;
  background: #f5fbff;

  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.1);

  outline: none;
}

input[type="radio"]{
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 2px solid;
}

input[type="radio"]:checked{
  background-color: black;
}

a {
  color: #1f4662;
  text-decoration: none;
}



.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  padding-left: 45px;
}

.navbar > label{
  color: #1B2848;
  font-family: var(--font-montserrat);
  font-size: 31px;
  font-weight: 400;
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
}

.navbar > label:hover{
  font-weight: 600;
  margin-left: 58px;
  margin-right: 58px;
  cursor: pointer;
}

hr{
  width: 100%;
}


#carouselExampleControls{
  width: 1200px;
  height: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleControls > .carousel-inner img{
  width: 310px;
  height: 100%;
  

}

#carouselExampleControls > .carousel-inner > .carousel-item > .imgs {
  display: flex;
  gap: 10px;
  margin-left: 134px;
}

#carouselExampleControls > .carousel-inner{
 display: flex;
 
}

#carouselExampleControls > .carousel-inner > .carousel-item > .carrossel-img {
  width: 900px;

 
}

#foto-meio{
  transform: scale(1.01);

}
.carousel-control-next-icon{
  filter: invert(1);
  transform: scale(2);
}


.carousel-control-prev-icon{
  filter: invert(1);
  transform: scale(2);
}


#carouselExampleControls > a > .sr-only{
  display: none;
}



.icons{
  display: flex;
  gap: 160px;
  padding-left: 10px;
}

.icons > .icon-do-icon{
  display: flex;
  
}

.icons > .icon-do-icon > .icon-do-icon-do-icon{
  display: flex;
  flex-direction: column;
}

.azul-fraco{
  color: #5A87A8;
}
.azul-forte{
  color: #091022;
  font-weight: 700;
}


.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 80px;

  align-items: center;
  justify-content: center;
  
  margin-top: 20px;
  margin-bottom: 100px;

  margin-left: -80px;
}

.products-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
  margin-bottom: 30px;
}

.products-title > img {
  width: 30%;

}

.products-title > h1 {
  color: rgba(0, 123, 140, 0.7);
  font-size: 40px;
  font-weight: 700;
}

.product-card {
  border-radius: 5px;
  background: #fff;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  width: 340px;
  height: 511px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#product-image {
  width: 300px;
  height: 300px;
  margin-left: 20px;
  border-radius: 5px;

  
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  object-fit: cover;
}

.product-card > h2 {
  margin-top: 22px;
  color: #1b2848;

  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  width: 280px;

}

.product-card > span {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 34px;
  font-family: "Inter";
  margin-left: 30px;
}

.product-card > button {
 
  width: 280px;
  height: 50px;
  border-radius: 5px;
  background: #007b8c;

  font-family: "Montserrat";
  color: #fff;
  font-size: 24px;
  font-weight: 700;

  border: none;
  cursor: pointer;
  transition: 0.5s;

  margin-left: 30px;
  margin-top: -10px;
}

.product-card >

.product-card > img,
h2,
span {
  margin-left: 20px;
}

.product-card > a > button:hover {
  scale: 1.05;
  background-color: #0292a5;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 900px;
  background-color: #e7edff;

  padding-top: 80px;
  padding-bottom: 50px;
}

footer > img {
  margin-right: 50px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 50px;

  align-items: center;
  justify-content: center;
}

.footer-section {
  width: 11vw;
  height: 30vh;
}

.footer-section > h1 {
  font-size: 20px;
  color: #091022;

  text-transform: uppercase;
  font-weight: 700;
}

.footer-section > p {
  font-size: 16px;
}

.contact-number {
  display: flex;
  gap: 5px;
}

.whatsapp,
.instagram {
  display: flex;
  gap: 5px;
}

.whatsapp > i,
.instagram > i {
  font-weight: 700;
}

/* Modal */

#modal-produto {
  width: 800px;
  height: 500px;

  border-radius: 20px;
  background: #cfebff;
  color: #2d2d2d;

  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 120px 30px 110px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 15;
}

.modal-informations {
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
}

.line {
  margin-bottom: 10px;
}

#modal-produto > img {
  width: 300px;
  height: 435px;

  margin-right: 36px;
}

.modal-description > h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.modal-description > ul > li {
  color: #544f4f;
}

.advice {
  color: #454747;

  width: 333px;

  font-weight: 600;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-bottom: 30px;
}

.quantity {
  width: 201px;
  height: 50px;

  border-radius: 5px;
  border: 2px solid #000;

  background: #cfebff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  font-size: 24px;
  font-weight: 700;
  color: #000;

  padding: 10px;
}

.quantity span {
  text-align: center;
}

.number {
  font-size: 24px;
}

.minus {
  color: #7a7a7a;
  margin-left: 0px;
}

.number {
  pointer-events: none;
}

.minus,
.plus {
  cursor: pointer;

  user-select: none;
}

.price > h2 {
  font-family: "Inter";
  font-weight: 700;

  margin-left: -0.5vw;
}

.value span {
  margin-left: 5px;
}

.finish {
  display: flex;
  gap: 38px;
}

.finish > button {
  width: 200px;
  height: 54px;

  border-radius: 5px;
  background: #1e1c1c;

  color: #fff;

  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;

  cursor: pointer;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 18px;

  transition: 0.3s;
}

.finish > button:hover {
  scale: 1.05;
}

#close {
  width: 61px;
  height: 47px;

  border-radius: 0px 20px;
  background: #1e1c1c;

  border: none;
  cursor: pointer;

  color: #fff;

  position: absolute;
  top: 688px;
  right: 250px;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 5;
}

.hide {
  opacity: 1;
  display: ;
  z-index: -1;
}

